
# Round Robin
upstream backend {
	{% for ip in ip_addresses %}
		server {{ ip }}:80 max_fails=2 fail_timeout=3;
	{% endfor %}
}

server {
	listen 80;
	server_name example.com;
	
	location / {
		proxy_pass http://backend;
	}
}



